.users_wrap{
    max-width: 75%;
    margin: auto;
}

.users{
}

.users_items{
}

.user_item_wrap{
    display: flex;
    align-items: center;
    color: black;
    position: relative;
    margin-bottom: 10px;
    padding: 10px 15px;
    transition: all 0.5s;
    cursor: pointer;
}

.user_item_wrap::after{
    content: "";
    position: absolute;
    z-index: -1;
    left: 0px;
    width: 100%;
    height: 0%;
    top: 0;
    background: #ffffff40;
    transition: all 0.5s;
}

.user_item_wrap:hover::after{
    height: 100%;
    transition: all 0.5s;
}

.user_item_wrap .follow_and_avatar{
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    align-items: center;
    min-width: 150px;
}

.user_item_wrap .user_avatar{
    width: 60px;
    height: 60px;
    overflow: hidden;
    position: relative;
    border-radius: 50px;
}

.user_item_wrap .user_avatar img{
    position: absolute;
    height: 100%;
}

.user_item_wrap .follow_and_avatar .to_follow{
    margin-top: 10px;
    background: #d7415d;
    border: none;
    color: white;
    padding: 8px 25px;
    border-radius: 3px;
    text-transform: uppercase;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.5s;
}

.user_item_wrap .follow_and_avatar .to_follow:hover{
    background: #9d2e42;
    transform: scale(1.1);
    transition: all 0.5s;
}

.user_info .user_name{
    font-size: 22px;
}

.user_info .user_location{
    font-style: italic;
    display: flex;
    align-items: center;
}

.user_info .user_location span{
    display: block;
    width: 13px;
    height: 22px;
    background-image: url("./UserItem/clipart170231.png");
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 5px;
}

.user_info .user_status{
    margin-top: 20px;
    font-weight: 700;
}

/**
**Pagination
**/

.pagination{
    display: flex;
    justify-content: center;
    padding: 10px;
}

.pagination .carrent_page{
    font-weight: 600;
}

.pagination .page_item{
    font-size: 20px;
    padding: 10px 20px;
    cursor: pointer;
    margin-right: 10px;
    transition: all 0.5s;
}

.pagination .page_item:hover,
.pagination .page_item:focus{
    background: #ffffff40;
    transition: all 0.5s;
}

.pagination .page_item:last-child{
    margin-right: 0;
}