.nav{
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav_item{
  text-align: left;
  margin-left: 20px;
}

.nav_item a{
  color: #fff;
  font-family: inherit;
  text-transform: uppercase;
  text-shadow: 0px 3px 10px #bcdfbc;
  font-weight: 700;
  letter-spacing: 2px;
  position: relative;
}

.nav_item a::before{
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  background: white;
  left: 0;
  bottom: -8px;
  transition: all 0.5s;
}

.nav_item a:hover::before,
.nav_item a:focus::before,
.nav_item [aria-current="page"]::before{
  width: 100%;
  transition: all 0.5s;
}

.nav_item a span{
  color: #00aeef;
  font-family: system-ui;
  font-size: 25px;
  font-weight: 100;
}