.nav{
  grid-area: nav;
  background: #0c334278;
  border-radius: 5px;
  border: 1px solid #2e563b;
}

.nav_item{
  text-align: left;
  margin-top: 20px;
  margin-left: 20px;
}

.nav_item a{
  color: #36a045;
  font-family: inherit;
  text-transform: uppercase;
  text-shadow: 0px 3px 10px #bcdfbc;
  font-weight: 700;
  letter-spacing: 2px;
}

.nav_item a span{
  color: #a5cdaa;
  font-family: cursive;
  font-size: 20px;
}