.nav{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav_item{
  text-align: left;
  margin-left: 20px;
}

.nav_item a{
  color: #000;
  font-family: inherit;
  text-transform: uppercase;
  text-shadow: 0px 3px 10px #bcdfbc;
  font-weight: 700;
  letter-spacing: 2px;
}

.nav_item a span{
  color: #000000;
  font-family: system-ui;
  font-size: 25px;
  font-weight: 100;
}