.header{
  font-family: sans-serif;
  text-transform: uppercase;
  position: sticky;
  top: var(--announcement-bar);
  border-bottom: 3px solid #ffdd00;
  background: #0a2b48;
  z-index: 10;
  grid-area: header;
}

.header_content{
  display: flex;
  height: 90px;
  align-items: center;
  justify-content: space-between;
}

.logo_header{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.App_logo {
  height: 7vmin;
  pointer-events: none;
}

.logo_text{
  position: absolute;
  right: -50px;
  font-family: system-ui;
  text-shadow: 0px 0px 18px rgb(255 255 255 / 94%);
}

.logo_text span:first-child {
  color: #fff;
  font-weight: 900;
  font-size: 26px;
}

.logo_text span:last-child {
  color: #00aeef;
  font-weight: 800;
  position: absolute;
  right: -20px;
  top: 25px;
}