.nav{
  grid-area: nav;
}

.nav_item{
  text-align: left;
  margin-top: 20px;
  margin-left: 20px;
}

.nav_item a{
  color: darkorange;
  text-transform: uppercase;
  font-family: cursive;
  font-weight: 900;
  font-size: 17px;
}