.author_post{
  max-width: 600px;
  margin: auto;
}

.post_title{
  color: #a5cdaa;
  font-family: inherit;
  text-transform: uppercase;
  text-shadow: 0px 3px 10px #bcdfbc;
  font-weight: 700;
  text-align: center;
}

.post_text{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.post_input{
  display: block;
  height: 120px;
  background: #e7eef3;
  border-radius: 5px;
  border: none;
  color: black;
  margin: 15px 0;
  padding: 12px;
}

.post_input:focus,
.post_input:active,
.post_input:focus-visible,
.post_input_submit:focus,
.post_input_submit:active,
.post_input_submit:focus-visible{
  outline: none;
}

.post_input_submit{
  display: block;
  padding: 10px 20px;
  color: #36a045;
  font-weight: 800;
  text-transform: uppercase;
  background: black;
  border-radius: 5px;
  border: 1px solid #2e563b;
  cursor: pointer;
}

.post_items{
  max-width: 900px;
  margin: auto;
}

.posts_header{
  color: #36a045;
  font-family: inherit;
  text-transform: uppercase;
  text-shadow: 0px 3px 10px #bcdfbc;
  font-weight: 700;
  text-align: center;
}