*{
  box-sizing: border-box;
}

body{
  background: black;
}

body::after{
  content: "";
  position: absolute;
  background-image: url("./wallpaperflare.com_wallpaper.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 100%;
  height: 90%;
  top: 60px;
  z-index: -1;
  opacity: 0.4;
}

a{
  text-decoration: none;
}

.App {
  text-align: center;
  display: grid;
  grid-template-areas: 
    "header header"
    "nav content-main";
  grid-template-rows: 95px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px;
}

.container{
  max-width: 1501px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 20px;
}

.App_wrap_content{
  padding: 10px;
  grid-area: content-main;
  border-radius: 5px;
  border: 1px solid #2e563b;
  background: #0c334278;
}