:root{
  --header: 90px;
  --announcement-bar: 50px;
}

*{
  box-sizing: border-box;
}

--header

body{
  background: #fff;
}

a{
  text-decoration: none;
}

/**
*BUTTONS
**/

.primary_button{
  padding: 10px 25px;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  background: #1571bf;
  color: white;
  transition: all 0.5s;
  cursor: pointer;
}

.primary_button:hover{
  background: #1571bf85;
  transition: all 0.5s;
}

/**
*END BUTTONS
**/

.App-wrap{
  position: relative;
  display: grid;
  grid-template-areas:  "announcement announcement" "header header" "main-content sidebar";
  grid-template-columns: 9fr 3fr;
  grid-template-rows: var(--announcement-bar) var(--header) 1fr;
}

.main_content{
  grid-area: main-content;
}

.container{
  max-width: 1401px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 20px;
}

.App_wrap_content{
  padding: 20px;
}

.App-wrap .content_img{
  height: 50vh;
  width: 100%;
  top: var(--header);
  background: #1571bf;
  position: fixed;
  z-index: -1;
  box-shadow: 0px -55px 30px -25px rgba(255,255,255,1) inset;
-webkit-box-shadow: 0px -55px 30px -25px rgba(255,255,255,1) inset;
-moz-box-shadow: 0px -55px 30px -25px rgba(255,255,255,1) inset;
}

.App-wrap .content_img div:first-child{
  background-image: url("./clouds-back.png");
  width: 100%;
  height: 100%;
  position: absolute;
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
}

.App-wrap .content_img div:last-child{
  background-image: url("./clouds-middle.png");
  width: 100%;
  height: 100%;
  position: absolute;
  background-position: center;
  background-size: auto;
  background-repeat: no-repeat;
}

/**
*Sidebar general styles
**/

.wrap_box_sidebar{
  background: #e7eef387;
  border-radius: 5px;
}

.wrap_box_sidebar_title{
  font-weight: 600;
  padding: 10px;
  font-size: 19px;
}