.author_info{
  display: grid;
  grid-template-columns: 3fr 9fr;
  grid-template-areas: "author-photo author-data";
}

.author_data_wrap{
  grid-area: author-data;
}

.author_data{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
}

.author_photo_wrap,
.author_data_wrap{
  display: flex;
}

.author_photo_wrap{
  justify-content: center;
  grid-area: author-photo;
}

.author_photo{
  width: 190px;
  height: 190px;
  position: relative;
  border-radius: 50%;
  overflow: hidden;
}

.author_date_item{
  color: #000;
  font-family: inherit;
  text-transform: uppercase;
  text-shadow: 0px 3px 10px #bcdfbc;
  font-weight: 700;
}

.author_name{ 
  color: black;
  text-shadow: 0px 0px 20px #dbdbdb;
  font-size: 30px;
}

.author_birth,
.author_home_location,
.author_education{
  color: #00aeef;
  margin-left: 20px;
}

.author_photo img{
  height: 210px;
  position: absolute;
  left: -50%;
  width: auto;
  transform: translate(15%, -10px);
}